header a, nav a{
    text-decoration: none;
    color: white;
}
img{
    max-width: fit-content;
}
a{
    text-decoration: none;
}
header a:hover, nav a:hover{
    color: black;
}
body{
    font-family: 'Open Sans', arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    margin: 0px;
    padding: 1px;
    height: 20px;
    background-color: #dd3333;
}
.topbar{
    font-size: small;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 125px;
    margin-right: 125px;
}
.topbar_left{
    display: inline-block;
    color: white;
}
#Home,#Date,#RssFeed,#Sitemap,#Time{
    margin-right: 3px;
}
#insta_icon,#search_icon,#fb_icon,#linkedin_icon,#tumblr_icon,#twitter_icon{
    margin-right: 16px;
}
.topbar_right{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: right;
    color: white;
}
main{
    margin-left: 125px;
    margin-right: 125px;
}
.ad{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 40px;
    margin-bottom: 30px;
}
#doctor_image{
    margin-left: 40px;
    width: 675px;
}
nav{
    background-color: #11248d;
    height: 55px;
}
.nav_ul{
    padding-top: 18px;
}
.nav_ul li{
    display: inline;
    margin-right: 2.1%;
}
#trending,#e-paper{
    display: inline-block;
    height: 14px;
    padding: 8px;
    color: white;
    background-color: #dd3333;
}
.under_navbar{
    margin-bottom: 15px;
}
#e-paper{
    float: right;
}
.main_div,.todays_stories,.state,.national_plus_sports,.business_plus_international,.weekly_special,.other_important_links,.advertise_tariff_plan{
    display: grid;
    grid-template-columns: auto auto;
}
.footer_margin{
    margin-left: 125px;
    margin-right: 125px;
}
.above{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.para{
    width: 275px;
    color: white;
}
.footer_links ul{
    list-style: none;
}
.fb{
    margin-left: 35px;
}
.footer_links ul li{
    display: inline-block;
    margin-right: 60px;
}
.left_footer_last,.right_footer_last{
    display: inline-block;
}
.right_footer_last{
    float: right;
}
.left_div{
    margin-right: 40px;
}
.right_div{
    margin-left: 40px;
}
.todays_stories_heading, .state_heading, .national_heading, .sports_heading, .business_heading, .international_heading, .news_updates_heading, .editorials_heading, .op-ed_heading, .other_important_links_heading, .advertise_tariff_plan_heading{
    display: inline-block;
    height: 14px;
    padding: 8px;
    color: white;
    background-color: #11248d;
    margin-bottom: 10px;
}
.weekly_special_heading, .archive_section
{
    display: inline-block;
    height: 14px;
    padding: 8px;
    color: white;
    background-color: #dd3333;
    margin-bottom: 10px;
}
.column2, .sports, .international{
    margin-left: 20px;
}
.column1, .national, .business{
    margin-right: 20px;
}
.state .column1{
    margin-right: 25px;
}
.state .column2{
    margin-left: 20px;
}
.download_app{
    border: 7px solid red;
}
.download_app_now{
    margin: 10px;
    font-size: 170%;
    text-align: center;
}
.download_app img{
    width: 150px;
    margin-left: 70px;
}
.follow{
    display: inline-block;
    margin-left: 60px;
    padding: 8px;
    border-radius: 15px;
    background-color: #1d9bf0;
}
.follow a{
    color: white;
}
.advertise_tariff_plan li::before, .other_important_links li::before, .weekly_special li::before{
    content: "\003E";
    color: red;
}
footer{
    background-color: #222222;
}
footer a, p, .subscribe_footer, .left_footer_last, .right_footer_last{
    color: white;
}
.footer5{
    padding: 10px;
    margin-top: 48px;
}
.footer1, .footer2, .footer3, .footer4{
    padding: 10px;
    margin-top: 33px;
    margin-bottom: 15px;
}
.footer_address{
    font-family: arial;
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
.footer_links{
    margin-bottom: 30px;
    padding: 6px;
}
.footer_last{
    padding: 10px;
    background-color: #0d0d0d;
    padding-bottom: 25px;
    font-size: small;
}
.left_footer_last{
    color: rgba(255, 255, 255, 0.623);
    margin-top: 10px;
    margin-left: 65px;
}
.right_footer_last{
    color:  rgba(255, 255, 255, 0.623);
    margin-top: 10px;
    margin-right: 65px;
}
.main_div a{
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
}