header a, nav a{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
}
header a:hover, nav a:hover{
    color: black;
}
body{
    font-family: 'Open Sans', arial, sans-serif;
    margin: 0px;
    padding: 0px;
}
header{
    margin: 0px;
    padding: 1px;
    height: 20px;
    background-color: #dd3333;
}
.topbar{
    font-size: small;
    margin-top: 2px;
    margin-bottom: 1px;
    margin-left: 125px;
    margin-right: 125px;
}
.topbar_left{
    display: inline-block;
    color: white;
}
#Home,#Date,#RssFeed,#Sitemap,#Time{
    margin-right: 3px;
}
#insta_icon,#search_icon,#fb_icon,#linkedin_icon,#tumblr_icon,#twitter_icon{
    margin-right: 16px;
}
.topbar_right{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: right;
    color: white;
}
main{
    margin-left: 125px;
    margin-right: 125px;
}
.ad{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 40px;
    margin-bottom: 30px;
}
#doctor_image{
    margin-left: 40px;
    width: 675px;
}
nav{
    background-color: #11248d;
    height: 55px;
}
.nav_ul{
    padding-top: 18px;
}
.nav_ul li{
    display: inline;
    margin-right: 2.1%;
}
#trending,#e-paper{
    display: inline-block;
    height: 14px;
    padding: 8px;
    color: white;
    background-color: #dd3333;
}
.under_navbar{
    margin-bottom: 15px;
}
#e-paper{
    float: right;
}
.main_div,.todays_stories,.state,.national_plus_sports,.business_plus_international,.weekly_special,.other_important_links,.advertise_tariff_plan{
    display: grid;
    grid-template-columns: auto auto;
}
.footer_margin{
    margin-left: 125px;
    margin-right: 125px;
}
.above{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.para{
    width: 275px;
}
.footer_links ul{
    list-style: none;
}
.fb{
    margin-left: 35px;
}
.footer_links ul li{
    display: inline-block;
    margin-right: 65px;
}
.left_footer_last,.right_footer_last{
    display: inline-block;
}
.right_footer_last{
    float: right;
}
.left_div{
    margin-right: 40px;
}
.right_div{
    margin-left: 40px;
}
.todays_stories_heading, .state_heading, .national_heading, .sports_heading, .business_heading, .international_heading, .news_updates_heading, .editorials_heading, .op-ed_heading, .other_important_links_heading, .advertise_tariff_plan_heading{
    display: inline-block;
    height: 14px;
    padding: 8px;
    color: white;
    background-color: #11248d;
    margin-bottom: 10px;
}
.weekly_special_heading, .archive_section
{
    display: inline-block;
    height: 14px;
    padding: 8px;
    color: white;
    background-color: #dd3333;
    margin-bottom: 10px;
}
